.account_main{
    width: 100%;
    margin: auto;
}

.account_paper{
    padding: 10px;
    margin: 30px 10px;
}

.my-posts{
   
    width: 100%;
    text-align: center;
    margin: 20px auto;

}

.account_wrapper{
    width:100%;
    text-align: center;
}

.accout_wrapper_left{
    padding:20px;
    width: 100%;
    background-color:blueviolet;
    height: 140px;
}

.accout_wrapper_left h2{
    color: white;
}

.account_profile_img{
    max-height: 130px;
    object-fit: contain;
    border-radius: 50%;
    margin: auto;
    border: 3px solid white;
}

.accout_wrapper_right{
    margin-top: 50px;
}
.upvotes{
    font-weight: 800;
    font-size: 22px;
    padding: 5px;
    
    color: blueviolet;
}
.edit-icon{
    cursor: pointer;
    color: blueviolet;
    margin-left: 10px;
    border: 1px solid blueviolet;
    border-radius: 50%;
    padding: 3px;
    vertical-align: middle;
    background-color: rgb(220, 194, 245);
}
